<div class="column gap-1">
    <h1><a>Test Text</a></h1>
    <!-- Product section -->
    <div class="row wrap gap-1 space-between">
        <app-product *ngFor="let product of products" 
        [product]="product"
        (productOutput)="onProductOutput($event)"
        ></app-product>
    </div>
    <!-- Paginator -->
    <div class="flex-auto">
        <p-paginator 
            (onPageChange)="onPageChange($event)" 
            [rows]="5" 
            [totalRecords]="totalRecords" 
            [rowsPerPageOptions]="[5, 10, 20 ]" />
    </div>
</div> 